*.pyc
*.db
*~

# Logs
logs
*.log
pip-log.txt
npm-debug.log*

build/
dist/
*.egg-info/
MANIFEST

bin/
include/
lib/
local/

*.log
pip-log.txt

.DS_Store

# Unit test / coverage reports
# Unit test / coverage reports
.coverage
.tox
nosetests.xml
htmlcov
html/
htmlcov/
coverage/

env
site
media/*
assets/*
.idea/*
!.idea/runConfigurations/
!.idea/old_sch.iml
!.idea/vcs.xml
!.idea/webResources.xml

docs/*
frontend/.tmp/*
frontend/docs/*
gdrive-9f7d7b145768.json
LICENSE.txt
preview.html
README.md
*.pem
static/libs/
node_modules/
.sass-cache

.env

mailhog

staticfiles/

.cache/

# Translations
*.mo
*.pot
