<!--<div class="btn-group btn-group-justified" role="group" aria-label="..." style="margin-bottom: 20px"-->
<!--ng-if="isDri">-->
<!--<div class="btn-group" role="group">-->
<!--<button type="button" class="btn btn-outline-danger btn-block" ng-click="movePrevious()"-->
<!--ng-disabled="!canPrevious"><i-->
<!--class="fa fa-refresh"></i>-->
<!--Iterate-->
<!--</button>-->
<!--</div>-->
<!--<div class="btn-group" role="group">-->
<!--<button type="button" class="btn btn-outline-danger btn-block" ng-click="moveNext()"-->
<!--ng-disabled="!canNext"><i class="fa fa-play"></i> Next-->
<!--</button>-->
<!--</div>-->
<!--</div>-->

<!--<div class="list-group">-->
  <!--<a ng-href="{{course.getting_started_url}}"-->
     <!--target="_blank" class="list-group-item list-group-item-danger"><i class="fa fa-play"></i> Getting-->
    <!--Started</a>-->
  <!--<a ng-href="{{course.best_practices_url}}"-->
     <!--target="_blank" class="list-group-item list-group-item-danger"><i class="fa fa-star"></i> Best-->
    <!--Practices</a>-->
  <!--<a ng-href="{{course.pdf_url}}" ng-if="currentPhase.index>=2"-->
     <!--target="_blank" class="list-group-item list-group-item-danger"><i class="fa fa-file-text"></i> Research-->
    <!--Paper</a>-->
  <!--<a ng-href="{{course.presentation_url}}" ng-if="currentPhase.index>=4"-->
     <!--target="_blank" class="list-group-item list-group-item-danger"><i class="fa fa-object-group"></i>-->
    <!--Presentation</a>-->
  <!--<a ng-href="{{trustSrc(course.slack_url)}}"-->
     <!--target="_blank" class="list-group-item list-group-item-warning"><i class="fa fa-slack"></i> Discuss on-->
    <!--Slack</a>-->
<!--</div>-->

<div class="btn-toolbar" role="toolbar" aria-label="..." style="margin-bottom: 20px;width:100%">
  <div class="btn-group" role="group" aria-label="...">
    <div class="btn-group" role="group">
      <a ng-href="{{course.getting_started_url}}"
              target="_blank" class="btn btn-outline-danger btn-block"><i class="fa fa-play"></i> Getting
        Started
      </a>
    </div>
    <div class="btn-group" role="group">
      <a ng-href="{{course.best_practices_url}}"
              target="_blank" class="btn btn-outline-danger btn-block"><i class="fa fa-star"></i> Best Practices
      </a>
    </div>
  </div>
  <div class="btn-group" role="group" aria-label="...">
    <div class="btn-group" role="group" ng-if="currentPhase.index>=2">
      <a ng-href="{{course.pdf_url}}"
              target="_blank" class="btn btn-outline-danger btn-block"><i class="fa fa-file-text"></i> Research Paper
      </a>
    </div>
    <div class="btn-group" role="group" ng-if="currentPhase.index>=2">
      <a ng-href="{{course.questionnaire_url}}"
              target="_blank" class="btn btn-outline-danger btn-block"><i class="fa fa-file-text"></i> Questionnaire
      </a>
    </div>
    <div class="btn-group" role="group" ng-if="currentPhase.index>=4">
      <a ng-href="{{course.presentation_url}}"
              target="_blank" class="btn btn-outline-danger btn-block"><i class="fa fa-object-group"></i> Presentation
      </a>
    </div>
    <div class="btn-group" role="group">
      <a ng-href="{{trustSrc(course.slack_url)}}"
              target="_blank" class="btn btn-outline-danger btn-block"><i class="fa fa-slack"></i> Discuss on Slack
      </a>
    </div>
  </div>

  <div class="btn-group pull-right" role="group" aria-label="..."
       ng-if="isDri">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-outline-danger btn-block" ng-click="movePrevious()"
              ng-disabled="!canPrevious"><i
        class="fa fa-refresh"></i>
        Iterate
      </button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-outline-danger btn-block" ng-click="moveNext()"
              ng-disabled="!canNext"><i class="fa fa-play"></i> Next
      </button>
    </div>
  </div>
</div>
