@import 'theme/conf/colorScheme/stanford';
@import 'theme/conf/variables';
@import 'theme/conf/mixins';

@import 'app/alerts';
@import 'app/buttonsPage';
@import 'app/chartsPage';
@import 'app/dashboard';
@import 'app/email';
@import 'app/form';
@import 'app/grid';
@import 'app/iconsPage';
@import 'app/modalNotifications';
@import 'app/modals';
@import 'app/notifications';
@import 'app/profile';
@import 'app/slider';
@import 'app/table';
@import 'app/tabsPage';
@import 'app/tplSkinPanel';
@import 'app/tree';
@import 'app/typography';
@import 'app/maps/google-maps';
@import 'app/maps/leaflet';
@import 'app/maps/map-bubbles';
@import 'app/maps/map-lines';

@import 'theme/blur-admin-theme';
@import 'theme/buttons';
@import 'theme/carousel';
@import 'theme/icons';
@import 'theme/layout';
@import 'theme/preloader';
@import 'theme/socicon';
@import 'theme/table';
@import 'theme/tree';
@import 'theme/bootstrap-overrides/panel';
@import 'theme/bootstrap-overrides/tabs';

@import 'theme/components/accordion';
@import 'theme/components/backTop';
@import 'theme/components/baWizard';
@import 'theme/components/contentTop';
@import 'theme/components/msgCenter';
@import 'theme/components/pageTop';
@import 'theme/components/sidebar';
@import 'theme/components/widgets';

@import 'theme/dashboard/amChart';
@import 'theme/dashboard/amChartMap';
@import 'theme/dashboard/blurFeed';
@import 'theme/dashboard/calendar';
@import 'theme/dashboard/courseChart';
@import 'theme/dashboard/pieCharts';
@import 'theme/dashboard/popularApp';
@import 'theme/dashboard/timeline';
@import 'theme/dashboard/todo';
@import 'theme/dashboard/trafficChart';
@import 'theme/dashboard/weather';
