<div class="page-top clearfix" scroll-position="scrolled" max-height="50" ng-class="{'scrolled': scrolled}">
  <a ui-sref="page.home" href="#" class="al-logo clearfix"><span>Stanford</span> Scholar</a>
  <a href class="collapse-menu-link ion-navicon" ba-sidebar-toggle-menu></a>

  <div class="search">
    <button class="btn btn-warning" ui-sref="talks-add">Propose a new Research Talk</button>

    <!--<i class="ion-ios-search-strong" ng-click="startSearch()"></i>-->
    <!--<input id="searchInput" type="text" placeholder="Search for...">-->
  </div>

  <div class="user-profile clearfix" ng-show="vm.is_logged_in">
    <div class="al-user-profile" uib-dropdown>
      <a uib-dropdown-toggle class="profile-toggle-link">
        <img ng-src="static/img/theme/icon/kameleon/Student-3.svg" alt="Profile">
        <!--<img ng-src="{{::( 'no-photo' | profilePicture )}}">-->
      </a>
      <ul  class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
        <li><i class="dropdown-arr"></i></li>
        <!--<li><a href="#/profile"><i class="fa fa-user"></i>Profile</a></li>-->
        <!--<li><a href><i class="fa fa-cog"></i>Settings</a></li>-->
        <li><a href class="signout" ng-click="vm.logout()"><i class="fa fa-power-off"></i>Sign out</a></li>
      </ul>
    </div>
    <!--<msg-center></msg-center>-->
  </div>
</div>
