<div style="background-color: black">
  <div id="content" class="container" role="main" tabindex="0">
    <div class="row">

      <div id="main-content" class="col-xs-12" role="main">
        <div class="row">


          <div class="col-lg-9 col-xs-12">
            <!--<div class="postcard-image">-->
            <!--<img ng-src="{{vm.paper.image}}" alt="{{vm.paper.name}}" height="200" width="200">-->
            <!--</div>-->
            <div class="postcard-text">
              <!--<h3><a ng-href="{{vm.paper.pdf}}" target="_blank">{{vm.paper.name}}</a></h3>-->
              <!--<p class="descriptor">Published on {{vm.paper.published_on}} <span ng-repeat="pdf_link in paper.pdf_links"> - <a ng-href="{{pdf_link.url}}" target="_blank">{{pdf_link.name}}</a></span></p>-->
              <!--<p class="descriptor">{{vm.paper.description}}</p>-->

              <!--<p ng-if="vm.paper.video_links.length>0">Check out this talk in <span-->
              <!--ng-repeat="video_link in paper.video_links"><a-->
              <!--target="_blank" ng-href="{{video_link.url}}">{{video_link.name}}</a>{{$last ? '' : ($index==paper.video_links.length-2) ? ' and ' : ', '}}</span></p>-->

              <div class="embed-responsive embed-responsive-16by9">
                <youtube-video class="embed-responsive-item" video-url="vm.paper.video"
                               player-vars="{showinfo:0}"></youtube-video>
              </div>

              <!--<img ng-src="{{vm.paper.image}}" style="width: 100%;height:auto;margin-bottom: 8px">-->

              <!--<p><strong>Directly Responsible Individuals (DRI) Team:</strong> <span ng-repeat="user in paper.dri">-->
              <!--{{user}} {{$last ? '' : ($index==paper.dri.length-2) ? ' and ' : ', '}}</span></p>-->

              <!--<p ng-if="vm.paper.super_dri.length>0"><strong>Super DRI Team:</strong> <span-->
              <!--ng-repeat="user in paper.super_dri">-->
              <!--{{user}} {{$last ? '' : ($index==paper.super_dri.length-2) ? ' and ' : ', '}}</span></p>-->

              <!--<p ng-if="vm.paper.scripting.length>0"><strong>Presentation Team:</strong> <span ng-repeat="user in paper.scripting">-->
              <!--{{user}} {{$last ? '' : ($index==paper.scripting.length-2) ? ' and ' : ', '}}</span></p>-->
              <!--<p ng-if="vm.paper.audio.length>0"><strong>Audio Team:</strong> <span ng-repeat="user in paper.audio">-->
              <!--{{user}} {{$last ? '' : ($index==paper.audio.length-2) ? ' and ' : ', '}}</span></p>-->
            </div>
          </div>
          <div class="col-lg-3 col-xs-12">
            <a class="btn btn-primary btn-lg" style=""
               ng-href="{{vm.paper.pdf}}" target="_blank">Download PDF
            </a>

            <h4 ng-if="vm.paper.variants.length>0" style="margin-top: 30px;margin-bottom:8px;color:white">Also
              available in</h4>
            <ul ng-if="vm.paper.variants.length>0" class="lang-list">
              <li ng-repeat="variant in vm.paper.variants">
                <a ui-sref="page.talk({id:variant.id})" style="color:white"><span>{{variant.lang_display}}</span></a>
              </li>
            </ul>

          </div>

        </div>

      </div>
    </div>
  </div>
</div>

<div class="container" role="main" tabindex="0" style="padding: 20px 0;">
  <div class="row" style="margin-bottom: 5px">
    <div class="col-xs-12">
      <p style="text-transform: uppercase;font-weight: 600;color:#444">{{vm.paper.category_display}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-xs-12">




    </div>

  </div>

  <div class="row">
    <div class="col-lg-8 col-xs-12">

      <div class="jumbotron-flat">
        <h2><a>{{vm.paper.name}} [{{vm.paper.lang_display}}]</a></h2>

        <div class="row">
          <div class="col-xs-8">
            <p>{{vm.paper.authors}}</p>
          </div>
          <div class="col-xs-4">
            <!--<p>{{vm.paper.published_on}}</p>-->
          </div>
        </div>
      </div>

      <!--<div class="jumbotron-flat">-->
        <!--<h3 style="font-weight: 400;line-height: 32px;">Production Team</h3>-->

        <!--<p ng-if="vm.paper.scripting.length>0"><span style="font-weight: 400">Presentation:</span> <span-->
          <!--style="font-weight: 300"-->
          <!--ng-repeat="user in vm.paper.scripting">-->
        <!--{{user}} {{$last ? '' : ($index==vm.paper.scripting.length-2) ? ' and ' : ', '}}</span></p>-->

        <!--<p ng-if="vm.paper.audio.length>0"><span style="font-weight: 400">Audio:</span> <span-->
          <!--style="font-weight: 300" ng-repeat="user in vm.paper.audio">-->
        <!--{{user}} {{$last ? '' : ($index==vm.paper.audio.length-2) ? ' and ' : ', '}}</span></p>-->

        <!--<p><span style="font-weight: 400">DRIs:</span> <span style="font-weight: 300"-->
                                                             <!--ng-repeat="user in vm.paper.dri">-->
        <!--{{user}} {{$last ? '' : ($index==vm.paper.dri.length-2) ? ' and ' : ', '}}</span></p>-->

        <!--<p ng-if="vm.paper.super_dri.length>0"><strong>Super DRI Team:</strong> <span-->
        <!--ng-repeat="user in vm.paper.super_dri">{{user}} {{$last ? '' : ($index==vm.paper.super_dri.length-2) ? ' and ' : ', '}}</span>-->
        <!--</p>-->

      <!--</div>-->


      <div class="jumbotron-flat">
        <div disqus="vm.paper.id"></div>
      </div>
    </div>


    <div class="col-lg-4 col-xs-12">
      <div class="jumbotron-flat">
        <h3 style="margin-bottom: 15px;">Other talks in {{vm.paper.category_display}}</h3>

        <div class="row">
          <div class="col-xs-12" ng-repeat="paper in vm.related">
            <!--<div class="postcard-image">-->
            <!--<img ng-src="{{paper.image}}" alt="{{paper.name}}" height="200" width="200">-->
            <!--</div>-->
            <div class="postcard-text" style="margin-bottom: 18px;">
              <!--<p class="descriptor">Published on {{paper.published_on}} <span ng-repeat="pdf_link in paper.pdf_links"> - <a ng-href="{{pdf_link.url}}" target="_blank">{{pdf_link.name}}</a></span></p>-->
              <!--<p class="descriptor">{{paper.description}}</p>-->

              <!--<p ng-if="paper.video_links.length>0">Check out this talk in <span-->
              <!--ng-repeat="video_link in paper.video_links"><a-->
              <!--target="_blank" ng-href="{{video_link.url}}">{{video_link.name}}</a>{{$last ? '' : ($index==paper.video_links.length-2) ? ' and ' : ', '}}</span></p>-->

              <!--<div class="embed-responsive embed-responsive-16by9">-->
              <!--<youtube-video class="embed-responsive-item" video-url="paper.video"></youtube-video>-->
              <!--</div>-->

              <a ui-sref="page.talk({id:paper.id})" style="cursor: pointer;">
                <img ng-src="{{paper.image}}" style="width: 100%;height:auto;margin-bottom: 8px">

              </a>
              <h5 style="line-height: 20px;"><a ui-sref="page.talk({id:paper.id})">{{paper.name}}</a></h5>
              <p class="descriptor" style="font-size: 12px;line-height: 16px"><a ng-href="{{paper.url}}" target="_blank"
                                                              style="color:#222">{{paper
                .publisher}}</a></p>

              <!--<p><strong>Directly Responsible Individuals (DRI) Team:</strong> <span ng-repeat="user in paper.dri">-->
              <!--{{user}} {{$last ? '' : ($index==paper.dri.length-2) ? ' and ' : ', '}}</span></p>-->

              <!--<p ng-if="paper.super_dri.length>0"><strong>Super DRI Team:</strong> <span-->
              <!--ng-repeat="user in paper.super_dri">-->
              <!--{{user}} {{$last ? '' : ($index==paper.super_dri.length-2) ? ' and ' : ', '}}</span></p>-->

              <!--<p ng-if="paper.scripting.length>0"><strong>Presentation Team:</strong> <span ng-repeat="user in paper.scripting">-->
              <!--{{user}} {{$last ? '' : ($index==paper.scripting.length-2) ? ' and ' : ', '}}</span></p>-->
              <!--<p ng-if="paper.audio.length>0"><strong>Audio Team:</strong> <span ng-repeat="user in paper.audio">-->
              <!--{{user}} {{$last ? '' : ($index==paper.audio.length-2) ? ' and ' : ', '}}</span></p>-->
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
