<div style="background-color: black">
  <div id="content" class="container" role="main" tabindex="0">
    <div class="row">

      <div id="main-content" class="col-xs-12" role="main">
        <div class="row">
          <slick settings="carouselConfig"
                 class="slider multiple-items">

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" ng-repeat="paper in vm.featured_papers">
              <div class="postcard-text">
                <a ui-sref="page.talk({id:paper.id})" style="cursor: pointer;">
                  <img ng-src="{{paper.image}}" style="width: 100%;height:auto;margin-bottom: 8px">
                </a>
                <h3 style="color: white;font-size: 14px" ng-text-truncate="paper.name" ng-tt-chars-threshold="70"></h3>
              </div>
            </div>

          </slick>

        </div>

      </div>
    </div>
  </div>
</div>

<div class="container" role="main" tabindex="0" style="padding-top: 20px; padding-bottom: 20px">
  <div ng-repeat="(category,papers) in vm.paper_categories">
    <div class="row" style="margin-bottom: 10px">
      <div class="col-xs-12">
        <h2
          style="margin-top:20px;border-bottom: 1px solid #e9e6df;padding-bottom: 10px;text-transform: uppercase;font-weight: 600;color:#444">
          {{category}}</h2>
      </div>
    </div>
    <div class="row">

      <slick lazy-load="ondemand" slides-to-show="3" slides-to-scroll="1" autoplay="false" arrows="true"
             infinite="true" responsive="vm.carouselConfig.responsive"
             class="slider multiple-items">

        <div class="col-xs-12" ng-repeat="paper in papers" style="min-height: 335px;">
          <div class="postcard-text">

            <img ng-src="{{paper.image}}" style="width: 100%;height:auto;margin-bottom: 8px"
                 ui-sref="page.talk({id:paper.id})">
            <h3 style="font-weight: 400;min-height: 44px;" ui-sref="page.talk({id:paper.id})"><a><span
              ng-text-truncate="paper.name"
              ng-tt-chars-threshold="60"></span></a></h3>

            <p class="descriptor"><a ng-href="{{paper.url}}" target="_blank" style="color:#222">{{paper.publisher}}</a>
              <span> - <a ng-href="{{paper.pdf}}" target="_blank">PDF</a></span></p>

            <p ng-if="paper.video_links.length>0">Also available in <span
              ng-repeat="video_link in paper.video_links"><a
              target="_blank" ng-href="{{video_link.url}}">{{video_link.name}}</a>{{$last ? '' : ($index==paper.video_links.length-2) ? ' and ' : ', '}}</span>
            </p>

          </div>
        </div>

      </slick>
    </div>
  </div>
</div>
