{% load static compress %}
<!DOCTYPE html>
<html lang="en" ng-app="BlurAdmin">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Stanford Scholar</title>
  <meta name="description"
        content="Stanford Scholar is a new initiative by researchers from Stanford University to make research more accessible - by facilitating people to collaborate and share their knowledge with others, and creating short research talks on diverse topics."/>
  <meta name="author" content="Stanford Social Systems Lab"/>

  <link
    href='https://fonts.googleapis.com/css?family=Merriweather|Open+Sans' rel='stylesheet' type='text/css'>

  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicon-96x96.png' %}">

  {% compress css %}

  <link rel='stylesheet' type='text/css' href="{% static 'libs/Ionicons/css/ionicons.min.css' %}">

  <link rel='stylesheet' type='text/css' href="{% static 'libs/animate.css/animate.min.css' %}">
  <link rel='stylesheet' type='text/css' href="{% static 'libs/tether/dist/css/tether.min.css' %}">
  <link rel='stylesheet' type='text/css' href="{% static 'libs/bootcards/dist/css/bootcards-desktop.min.css' %}">
  <link rel='stylesheet' type='text/css' href="{% static 'libs/bootstrap/dist/css/bootstrap.min.css' %}">
  <link rel='stylesheet' type='text/css' href="{% static 'libs/bootstrap-select/dist/css/bootstrap-select.min.css' %}">
  <link rel='stylesheet' type='text/css' href="{% static 'libs/angular-toastr/dist/angular-toastr.css' %}">
  <link rel='stylesheet' type='text/css' href="{% static 'libs/slick-carousel/slick/slick.css' %}">
  <link rel='stylesheet' type='text/css' href="{% static 'libs/slick-carousel/slick/slick-theme.css' %}">
  <link rel='stylesheet' type='text/css' href="{% static 'libs/font-awesome/css/font-awesome.css' %}">

  <link rel='stylesheet' type='text/css' href="{% static 'css/app.css' %}">
  {% endcompress %}

</head>
<body>

<div ui-view="full_screen" class="full-screen">
  <div class="body-bg"></div>
  <main ng-if="page.finishedLoading" ng-class="{ 'menu-collapsed': $baSidebarService.isMenuCollapsed() }">

    <ba-sidebar></ba-sidebar>
    <page-top></page-top>

    <div class="al-main">
      <div class="al-content">
        <content-top></content-top>
        <div ui-view></div>
      </div>
    </div>

    <footer class="al-footer clearfix">
      <div class="clear"></div>

      <div class="al-footer-right">
        <div class="al-copy">&copy MS&E, Stanford University 2016</div>
      </div>
      <div class="al-footer-main clearfix">

        <!--<ul class="al-share clearfix">-->
        <!--<li><i class="socicon socicon-facebook"></i></li>-->
        <!--<li><i class="socicon socicon-twitter"></i></li>-->
        <!--<li><i class="socicon socicon-google"></i></li>-->
        <!--<li><i class="socicon socicon-github"></i></li>-->
        <!--</ul>-->
      </div>
    </footer>

    <back-top></back-top>
  </main>
</div>

<div id="preloader" ng-hide="page.finishedLoading">
<div></div>
</div>

<script src="https://www.youtube.com/iframe_api"></script>

{% compress js %}
<script type="text/javascript" src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/jquery-ui/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/jquery.easing/js/jquery.easing.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/lodash/dist/lodash.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/slimScroll/jquery.slimscroll.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/moment/min/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/tether/dist/js/tether.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/bootcards/dist/js/bootcards.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/angularAudioRecorder/lib/lame.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/wavesurfer.js/dist/wavesurfer.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/slick-carousel/slick/slick.js' %}"></script>
<script type="text/javascript" src="{% static 'app/theme/components/backTop/jquery.backTop.min.js' %}"></script>

<script type="text/javascript" src="{% static 'libs/angular/angular.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/angular-aria/angular-aria.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/angular-animate/angular-animate.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/angular-cookies/angular-cookies.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/angular-sanitize/angular-sanitize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/angular-messages/angular-messages.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/angular-route/angular-route.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/angular-ui-router/release/angular-ui-router.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/angular-touch/angular-touch.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/angular-slick/dist/slick.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/angular-smart-table/dist/smart-table.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/angular-moment/angular-moment.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/ng-lodash/build/ng-lodash.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/angular-youtube-mb/dist/angular-youtube-embed.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/ng-file-upload/ng-file-upload.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/angularAudioRecorder/dist/angular-audio-recorder.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/angular-progress-button-styles/dist/angular-progress-button-styles.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/angular-slimscroll/angular-slimscroll.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/angular-ui-sortable/sortable.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/angular-bootstrap/ui-bootstrap-tpls.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/Chart.js/Chart.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/satellizer/dist/satellizer.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/angular-toastr/dist/angular-toastr.tpls.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/angular-disqus/angular-disqus.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/angular-flexslider/angular-flexslider.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/opbeat-angular/opbeat-angular.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/raven-js/dist/raven.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/raven-js/dist/plugins/angular.js' %}"></script>
<script>
  Raven
    .config('https://6b552a9d3c714aac9f510410d79a9202@sentry.io/207311')
    .addPlugin(Raven.Plugins.Angular)
    .install();
</script>

<script type="text/javascript" src="{% static 'app/app.js' %}"></script>

<script type="text/javascript" src="{% static 'app/theme/theme.module.js' %}"></script>
<script type="text/javascript" src="{% static 'app/theme/theme.constants.js' %}"></script>
<script type="text/javascript" src="{% static 'app/theme/theme.config.js' %}"></script>
<script type="text/javascript" src="{% static 'app/theme/theme.configProvider.js' %}"></script>
<script type="text/javascript" src="{% static 'app/theme/theme.interceptor.js' %}"></script>
<script type="text/javascript" src="{% static 'app/theme/theme.service.js' %}"></script>
<script type="text/javascript" src="{% static 'app/theme/theme.run.js' %}"></script>

<script type="text/javascript" src="{% static 'app/theme/services/baUtil.js' %}"></script>
<script type="text/javascript" src="{% static 'app/theme/services/fileReader.js' %}"></script>
<script type="text/javascript" src="{% static 'app/theme/services/preloader.js' %}"></script>
<script type="text/javascript" src="{% static 'app/theme/services/stopableInterval.js' %}"></script>

<script type="text/javascript" src="{% static 'app/theme/filters/image/appImage.js' %}"></script>
<script type="text/javascript" src="{% static 'app/theme/filters/image/kameleonImg.js' %}"></script>
<script type="text/javascript" src="{% static 'app/theme/filters/image/profilePicture.js' %}"></script>
<script type="text/javascript" src="{% static 'app/theme/filters/text/removeHtml.js' %}"></script>

<script type="text/javascript" src="{% static 'app/theme/directives/animatedChange.js' %}"></script>
<script type="text/javascript" src="{% static 'app/theme/directives/autoExpand.js' %}"></script>
<script type="text/javascript" src="{% static 'app/theme/directives/autoFocus.js' %}"></script>
<script type="text/javascript" src="{% static 'app/theme/directives/includeWithScope.js' %}"></script>
<script type="text/javascript" src="{% static 'app/theme/directives/ionSlider.js' %}"></script>
<script type="text/javascript" src="{% static 'app/theme/directives/ngFileSelect.js' %}"></script>
<script type="text/javascript" src="{% static 'app/theme/directives/scrollPosition.js' %}"></script>
<script type="text/javascript" src="{% static 'app/theme/directives/trackWidth.js' %}"></script>
<script type="text/javascript" src="{% static 'app/theme/directives/zoomIn.js' %}"></script>
<script type="text/javascript" src="{% static 'app/theme/directives/errSrc.js' %}"></script>

<script type="text/javascript" src="{% static 'app/theme/components/components.module.js' %}"></script>
<script type="text/javascript" src="{% static 'app/theme/components/toastrLibConfig.js' %}"></script>

<script type="text/javascript" src="{% static 'app/theme/components/backTop/backTop.directive.js' %}"></script>

<script type="text/javascript" src="{% static 'app/theme/components/baPanel/baPanel.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'app/theme/components/baPanel/baPanelBlur.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'app/theme/components/baPanel/baPanelSelf.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'app/theme/components/baPanel/baPanel.service.js' %}"></script>
<script type="text/javascript" src="{% static 'app/theme/components/baPanel/baPanelBlurHelper.service.js' %}"></script>

<script type="text/javascript" src="{% static 'app/theme/components/baSidebar/baSidebar.directive.js' %}"></script>
<script type="text/javascript"
        src="{% static 'app/theme/components/baSidebar/baSidebarHelpers.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'app/theme/components/baSidebar/baSidebar.service.js' %}"></script>
<script type="text/javascript" src="{% static 'app/theme/components/baSidebar/BaSidebarCtrl.js' %}"></script>

<script type="text/javascript" src="{% static 'app/theme/components/baWizard/baWizard.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'app/theme/components/baWizard/baWizardStep.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'app/theme/components/baWizard/baWizardCtrl.js' %}"></script>

<script type="text/javascript" src="{% static 'app/theme/components/contentTop/contentTop.directive.js' %}"></script>

<script type="text/javascript" src="{% static 'app/theme/components/msgCenter/msgCenter.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'app/theme/components/msgCenter/MsgCenterCtrl.js' %}"></script>

<script type="text/javascript" src="{% static 'app/theme/components/pageTop/pageTop.directive.js' %}"></script>

<script type="text/javascript" src="{% static 'app/theme/components/widgets/widgets.directive.js' %}"></script>

<script type="text/javascript" src="{% static 'app/services/services.module.js' %}"></script>
<script type="text/javascript" src="{% static 'app/services/auth.service.js' %}"></script>
<script type="text/javascript" src="{% static 'app/services/courses.service.js' %}"></script>
<script type="text/javascript" src="{% static 'app/services/slides.service.js' %}"></script>

<script type="text/javascript" src="{% static 'app/pages/pages.module.js' %}"></script>
<script type="text/javascript" src="{% static 'app/pages/pages.directives.js' %}"></script>

<script type="text/javascript" src="{% static 'app/pages/auth/auth.module.js' %}"></script>
<script type="text/javascript" src="{% static 'app/pages/auth/LoginPageCtrl.js' %}"></script>
<script type="text/javascript" src="{% static 'app/pages/auth/RegisterPageCtrl.js' %}"></script>

<script type="text/javascript" src="{% static 'app/pages/courses/courses.module.js' %}"></script>

<script type="text/javascript" src="{% static 'app/pages/courses/CoursePageCtrl.js' %}"></script>
<script type="text/javascript" src="{% static 'app/pages/courses/add/CoursesAddCtrl.js' %}"></script>
<script type="text/javascript" src="{% static 'app/pages/courses/join/CourseJoinCtrl.js' %}"></script>
<script type="text/javascript" src="{% static 'app/pages/courses/stages/CoursesProposedPageCtrl.js' %}"></script>
<script type="text/javascript" src="{% static 'app/pages/courses/stages/CoursesPublishedPageCtrl.js' %}"></script>
<script type="text/javascript" src="{% static 'app/pages/courses/stages/CoursesInProgressPageCtrl.js' %}"></script>
<script type="text/javascript" src="{% static 'app/pages/courses/phases/PhaseCtrl.js' %}"></script>

<script type="text/javascript" src="{% static 'app/pages/dashboard/dashboard.module.js' %}"></script>
<script type="text/javascript" src="{% static 'app/pages/dashboard/courseChart/courseChart.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'app/pages/dashboard/courseChart/CourseChartCtrl.js' %}"></script>
<script type="text/javascript" src="{% static 'app/pages/dashboard/slideChart/slideChart.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'app/pages/dashboard/slideChart/SlideChartCtrl.js' %}"></script>

<script type="text/javascript" src="{% static 'app/pages/page/page.module.js' %}"></script>
<script type="text/javascript" src="{% static 'app/pages/page/PageCtrl.js' %}"></script>
<script type="text/javascript" src="{% static 'app/pages/page/CourseDetailCtrl.js' %}"></script>

<script type="text/javascript" src="{% static 'app/pages/profile/profile.module.js' %}"></script>
<script type="text/javascript" src="{% static 'app/pages/profile/ProfileModalCtrl.js' %}"></script>
<script type="text/javascript" src="{% static 'app/pages/profile/ProfilePageCtrl.js' %}"></script>

{% endcompress %}

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-85052875-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
